/* PrimeNG Styles */

@import 'primeicons/primeicons.css';

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}


h3 {

  border-bottom: 1px dashed #33333394;
  clip-path: inset(0 0 0 0);
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 200;
  color: #333;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


p {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
  color: #444;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}