<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav d-flex justify-content-end">
      <a class="nav-link" (click)="scrollToSection('home')">Home</a>
      <a class="nav-link" (click)="scrollToSection('about')">About</a>
      <div class="nav-item dropdown">
        <a class="nav-link" (click)="scrollToSection('projects')">Projects</a>
        <div class="dropdown-menu">
          @for(category of projectCategories; track category.id) {
            <a class="dropdown-item" (click)="scrollToSection('category-' + category.id)">
              {{ category.name }}
            </a>
          }
        </div>
      </div>
      <a class="nav-link" (click)="scrollToSection('education')">Education</a>
      <a class="nav-link" (click)="scrollToSection('hobbies')">Hobbies</a>
      <a class="nav-link logout-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
